body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.online {
	text-indent: -3000px;
	background-image: url('../images/online.png');
	background-repeat: no-repeat;
	background-position:center;"	
}

.offline {
	text-indent: -3000px; 
	background-image: url('../images/offline.png'); 
	background-repeat: no-repeat;
	background-position:center;
}

.unavailable {
	text-indent: -3000px; 
	background-image: url('../images/unavailable.png'); 
	background-repeat: no-repeat;
	background-position:center;
}

.locked {
	width: 24px;
	text-indent: -3000px; 
	background-image: url('../images/locked.png'); 
	background-repeat: no-repeat;
	background-position:center;
}

.unlocked {
	width: 24px;
	text-indent: -3000px; 
	background-image: url('../images/unlocked.png'); 
	background-repeat: no-repeat;
	background-position:center;
}



.action {
	width: 27px;
	text-align: center;
}

#accounts {
	border-collapse: collapse;
	clear: both;
  margin: 0 auto;
  width: 100%;
}

a img {
  border: none;
}

input {
}

a {
  color: #0000FF;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  margin-bottom: 10px;
}


#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  overflow-y:auto;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  width: 70%;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}


.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
}

/* use a semi-transparent image for the overlay */
	#overlay {
		background-image:url(http://static.flowplayer.org/img/overlay/transparent.png);
		color:#000000;
		/*height:450px;*/
	}
	
	/* container for external content. uses vertical scrollbar, if needed */
	div.contentWrap {
		/*height:441px;*/
	
	}

#advanced {
	margin: 10px ;
	float: left;
}

#common {
	margin: 10px;
	float: left;
}

.left {
	
	float: left;
}

.right {
	margin-left: 20px;
	float: right;
}

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 720px;
	height:90px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
}

#addsip {
	background: no-repeat;
	background-image:url(../images/add.png);
	
}

#newsip a:hover {

}

